
//Paleta de colores

$color-primario-solid: rgba(255, 132, 132);
$color-primario80strong: rgba(255, 132, 132, 0.8);
$color-primario50medium: rgba(255, 132, 132, 0.5);
$color-primario30light: rgba(255, 132, 132, 0.30);
$color-primario20suplight: rgba(255, 132, 132, 0.2);
