.picproducto {
  height: 35vw;
  width: 29vw;
}

.fotosecundaria {
  height: 13vw;
  width: 12vw;
}

.logo--instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: transparent;
  -webkit-background-clip: text;
}

.logo--facebook {
  color: #3b5998;
}

.talles-boton {
  background-color: white;
  border: 2px solid rgba(255, 132, 132, 0.5);
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small-img, .Jeans-small, .Remeras-Tops-small, .Camperas-small, .Shorts-small, .Sweaters-small {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*BODY*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: auto;
  margin: 0;
}

/*HEADER*/
header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 330px auto;
      grid-template-columns: 330px auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

header .logo-luna-vector {
  height: 15vh;
  margin: auto;
}

header .buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 2vh 4vh auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

header #buscador {
  height: 2rem;
  width: 300px;
  margin: 0 1vh 2vh 1vh;
  border-color: rgba(255, 132, 132, 0.2);
  border-radius: 5px;
  color: gray;
  font-style: italic;
  padding-left: 10px;
}

header .menu-navegador {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

header .menu-principal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 60vw;
  margin: auto;
  font-size: 1.1rem;
  list-style-type: none;
  text-transform: uppercase;
}

header .menu_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
  line-height: 2vw;
  border-bottom: 2px solid white;
}

header .menu_item:hover {
  color: #ff8484;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #ff8484;
}

header .buscador button {
  padding: 2px;
  margin: 0 2vh 2vh 1vh;
  width: 10vh;
  border: none;
  background-color: rgba(255, 132, 132, 0.8);
  color: white;
  border-radius: 5px;
}

header #lupa {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  color: white;
}

header .navbar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

header .bg-white {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

header .nav-item {
  text-transform: uppercase;
  font-size: 1rem;
  width: auto;
}

/*CAROUSEL*/
.carousel-caption {
  margin-bottom: 2em;
}

h1 {
  margin-left: 2%;
}

/* ESTILOS MAIN */
a {
  text-decoration: none;
}

main {
  margin-bottom: 5%;
  overflow: hidden;
}

h3 {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
}

p {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

/* ESTILOS CATEGORIAS */
.Jeans, .Sweaters, .Camperas, .Shorts, .Remeras-Tops {
  background-image: url("../Assets/banner_jeans-ok.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Jeans .categoria_banner, .Sweaters .categoria_banner, .Camperas .categoria_banner, .Shorts .categoria_banner, .Remeras-Tops .categoria_banner {
  width: 50vw;
  min-height: 10vw;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Jeans .categoria_banner:hover, .Sweaters .categoria_banner:hover, .Camperas .categoria_banner:hover, .Shorts .categoria_banner:hover, .Remeras-Tops .categoria_banner:hover {
  background-color: rgba(255, 132, 132, 0.3);
}

.Jeans .categoria_banner p, .Sweaters .categoria_banner p, .Camperas .categoria_banner p, .Shorts .categoria_banner p, .Remeras-Tops .categoria_banner p {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin: 3vh 0 1vh 0;
}

.Jeans .categoria_banner a .vertodos, .Sweaters .categoria_banner a .vertodos, .Camperas .categoria_banner a .vertodos, .Shorts .categoria_banner a .vertodos, .Remeras-Tops .categoria_banner a .vertodos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto auto 1rem auto;
  min-height: 4vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: rgba(255, 132, 132, 0.8);
  color: black;
  font-weight: 500;
  letter-spacing: 0.1vh;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 8px;
}

.Jeans .categoria_banner a .vertodos:hover, .Sweaters .categoria_banner a .vertodos:hover, .Camperas .categoria_banner a .vertodos:hover, .Shorts .categoria_banner a .vertodos:hover, .Remeras-Tops .categoria_banner a .vertodos:hover {
  background-color: white;
}

.Jeans-small, .Remeras-Tops-small, .Camperas-small, .Shorts-small, .Sweaters-small {
  background-image: url("../Assets/banner_jeans-ok.jpg");
}

.Shorts {
  background-image: url("../Assets/banner_shorts_ok.jpg");
}

.Shorts-small {
  background-image: url("../Assets/banner_shorts_small.jpg");
}

.Remeras-Tops {
  background-image: url("../Assets/banner_remera_ok.jpg");
}

.Remeras-Tops-small {
  background-image: url("../Assets/banner_remera_small.jpg");
}

.Sweaters {
  background-image: url("../Assets/banner-sweater-small.jpg");
}

.Sweaters-small {
  background-image: url("../Assets/banner-sweater-small.jpg");
}

.Camperas {
  background-image: url("../Assets/Banner_Campera_ok.jpg");
}

.Camperas-small {
  background-image: url("../Assets/Banner_Campera_small.jpg");
}

.btmasprod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rrss {
  text-align: center;
}

.rrss a {
  text-decoration: none;
  color: black;
}

.rrss .texto_rrss {
  margin-top: 50px;
  margin-bottom: auto;
  font-size: 2rem;
}

.rrss .fa-brands {
  font-size: 3rem;
  padding: 16px;
}

/*CATEGORIAS JEANS*/
.categorias {
  padding: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em auto 3em auto;
}

.categorias .fa-sliders {
  padding-right: 2.5em;
  font-size: 2rem;
  margin: auto 1vh auto 1vh;
}

.main_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_products .card-img-top {
  width: 17rem;
  height: 23vw;
  padding: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_products .card {
  border: none;
  margin: 0.5em;
  padding: 8px;
  color: black;
}

.main_products .card:hover {
  background-color: rgba(255, 132, 132, 0.2);
}

.main_products .card a {
  color: black;
}

.main_products .card-body {
  background-color: white;
}

.main_products .card-body:hover {
  background-color: rgba(255, 132, 132, 0.2);
}

/* PRODUCTO SELECCIONADO */
.itemseleccionado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.itemseleccionado .fotos-producto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat 3, 2fr;
      grid-template-columns: repeat 3, 2fr;
  -ms-grid-rows: 4fr 2fr;
      grid-template-rows: 4fr 2fr;
  margin: 1em auto auto 4em;
  row-gap: 0.5em;
  -webkit-column-gap: 0.5em;
          column-gap: 0.5em;
}

.itemseleccionado .fotos-producto .fotoprincipal {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
  margin: 0 auto;
}

.itemseleccionado .fotos-producto .fotoprincipal .picproducto {
  width: 29vw;
  height: 35vw;
}

.itemseleccionado .fotos-producto .foto_secundaria1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.itemseleccionado .fotos-producto .foto_secundaria1 .foto1 {
  width: 12vw;
  height: 13vw;
}

.itemseleccionado .fotos-producto .foto_secundaria2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.itemseleccionado .fotos-producto .foto_secundaria2 .foto1 {
  width: 12vw;
  height: 13vw;
}

.itemseleccionado .fotos-producto .foto_secundaria3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.itemseleccionado .fotos-producto .foto_secundaria3 .foto1 {
  width: 12vw;
  height: 13vw;
}

.detalles-producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2vw auto auto 2vw;
}

.detalles-producto .nombre-producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detalles-producto .nombre-producto .fa-heart {
  font-size: 2rem;
  padding-right: 1em;
  color: #c7c7c7;
}

.detalles-producto .nombre-producto .fa-heart:hover {
  color: #ff8484;
}

.detalles-producto .descripcion p {
  text-align: left;
  margin: 1em auto;
}

.detalles-producto .composicion h6, .detalles-producto p {
  text-align: left;
  line-height: 1rem;
}

.detalles-producto .cuidados {
  margin: 2em 0;
}

.detalles-producto .cuidados .icono-cuidado-grupo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50vw;
}

.detalles-producto .cuidados p {
  width: 25vw;
  margin: 0;
}

.detalles-producto .cuidados .iconocuidado {
  width: 2rem;
  height: 2rem;
  padding: 0.5em;
}

.detalles-producto .cuidados h6 {
  text-align: left;
  line-height: 1rem;
}

.detalles-producto .precio {
  text-align: left;
  margin-top: 1em;
}

.detalles-producto .talles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 30vw;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2em;
  margin-bottom: 2em;
}

.detalles-producto .talles-container p {
  text-align: left;
}

.detalles-producto .talles-container .talles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-width: 30vw;
}

.detalles-producto .talles-container .talles button {
  background-color: white;
  border: 2px solid rgba(255, 132, 132, 0.5);
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detalles-producto .talles-container .talles button:hover {
  margin: 1em;
  line-height: 2rem;
  min-width: 3em;
  background-color: #ff8484;
  border: 2px solid rgba(255, 132, 132, 0);
  color: white;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detalles-producto .talles-container .guiatalles {
  text-transform: uppercase;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  text-decoration: underline;
}

.detalles-producto .talles-container .cantidad {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detalles-producto .talles-container .cantidad h6 {
  text-align: left;
}

.detalles-producto .talles-container .cantidad p {
  text-align: left;
  margin: auto 1em auto auto;
}

.radio__variations--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  line-height: 2rem;
}

.radio__variations--list .radio__variations--item {
  padding: 2em;
}

/* SOBRE NOSOTROS */
.sobrenosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem auto auto auto;
}

.sobrenosotros .sobrenosotros_texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 2rem 1rem 2rem;
  width: 50vw;
}

.sobrenosotros .sobrenosotros_texto .historia {
  font-size: 2rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
}

.sobrenosotros .sobrenosotros_texto .textohistoria {
  font-size: 1.3rem;
  font-style: italic;
  margin: auto;
  text-align: center;
  word-spacing: 2px;
  line-height: 2rem;
}

.sobrenosotros .Interiorlocal {
  width: 50%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: auto;
  -webkit-filter: sepia(50%);
          filter: sepia(50%);
}

.sobrenosotros .Interiorlocal_small {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: auto;
  -webkit-filter: sepia(50%);
          filter: sepia(50%);
}

/* CONTACTO */
.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacto .horarios {
  background-image: url(../Assets/denim2.png);
  width: 80vh;
  height: 70vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 3rem auto 3rem;
}

.contacto .horarios .titulo_horarios {
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5em;
  margin: 0;
}

.contacto .horarios p {
  font-size: 1.5rem;
  margin: 0;
  line-height: 2em;
  background-color: rgba(255, 255, 255, 0.6);
}

.contacto .formulario_contacto {
  margin: auto 2rem auto 2rem;
  width: 60vw;
}

.contacto .formulario_contacto .titulo_contacto {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2em auto 2em auto;
}

.contacto .formulario_contacto input {
  width: 100%;
}

.contacto .formulario_contacto label {
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* ESTILOS FOOTER */
footer {
  background-color: rgba(255, 132, 132, 0.3);
  padding-bottom: 3em;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* BOOTSTRAP */
.col-2 {
  margin: auto;
}

.btn-primary {
  background-color: #ff8484;
}

h5 {
  text-align: center;
  margin-top: 0.5em;
}

.precioitem {
  text-align: center;
  margin-top: 0.5em;
}

.col-2 {
  margin-top: 2em;
}

.Inicio_sesion_registro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  margin: 5vh auto;
}

.btn-lg {
  margin: 3vh auto auto auto;
  min-width: 30vw;
}

.sinregistro, .conregistro {
  width: 40%;
  margin: 1vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-outline-success {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ff8484;
  border: none;
}

.carousel-video video {
  height: 680px;
}
/*# sourceMappingURL=estilos.css.map */